n8n-workflows/job-scraper/nogalsolutions-ai-job-scraper-ats-resume-optimizer.json
{
  "id": "QyPEUQbTkLeto8wA",
  "name": "NogalSolutions- AI Job Scraper + ATS-Resume Optimizer",
  "nodes": [
    {
      "parameters": {
        "trigger": ["app_mention"],
        "channelId": {
          "__rl": true,
          "value": "C0BD0392G8G",
          "mode": "list",
          "cachedResultName": "job-scraper"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [-16, 0],
      "id": "fc21afb0-a2a4-402b-86bc-f45578d0aba4",
      "name": "Slack Trigger",
      "webhookId": "2ab08d72-5cc7-47a1-aa3f-f3ea99b79397",
      "credentials": {
        "slackApi": { "id": "ePXHcvTFYea6Cx5G", "name": "Slack account" }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-flash-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an AI job-search intent classifier.\n\nDetermine whether the user's message is likely intended to search for jobs, freelance gigs, contract work, career opportunities, or employment-related listings.\n\nThe user's message is:\n\n\"{{ $json.blocks[0].elements[0].elements[1].text.trim() }}\"\n\nReturn \"YES\" if the message contains ANY of the following:\n\n- Job titles\n- Skills or technologies commonly used to search for jobs\n- Software, platforms, frameworks, or tools that could be used as job search keywords\n- Employment-related terms\n- Career-related questions\n- Freelance or contract work requests\n- Remote work searches\n- Queries that appear to be searching for opportunities\n\nExamples that should return YES:\n\n\"n8n\"\n\"ghl\"\n\"zapier\"\n\"automation\"\n\"ai agent\"\n\"golang\"\n\"python developer\"\n\"remote jobs\"\n\"hiring\"\n\"virtual assistant\"\n\"upwork automation\"\n\"salesforce\"\n\"data analyst\"\n\"n8n and ghl jobs\"\n\"automation specialist\"\n\"find me ai jobs\"\n\nReturn \"NO\" only when the message is clearly unrelated to jobs, careers, freelancing, hiring, or employment.\n\nExamples that should return NO:\n\n\"what is n8n\"\n\"how does ghl work\"\n\"weather today\"\n\"tell me a joke\"\n\"what is the capital of japan\"\n\"help me debug this code\"\n\nOutput ONLY one word:\n\nYES\nor\nNO"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [208, 0],
      "id": "cfcab4b6-b14e-41cb-9fa1-54dd48745828",
      "name": "Query Validation",
      "credentials": {
        "googlePalmApi": { "id": "xmZ7PhlAglry5Ye6", "name": "Google Gemini(PaLM) Api account" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [
            {
              "id": "41aa04fb-1b9e-49e4-8fd9-2dc3a470a699",
              "leftValue": "={{ $json.content.parts[0].text }}",
              "rightValue": "YES",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [560, 0],
      "id": "9485ad86-a181-4c7f-b133-22bdb7e092d2",
      "name": "Query is Valid?"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BD0392G8G",
          "mode": "list",
          "cachedResultName": "job-scraper"
        },
        "text": "=Searching for '{{ $('Slack Trigger').item.json.blocks[0].elements[0].elements[1].text.trim() }}' Jobs... ",
        "otherOptions": { "includeLinkToWorkflow": false }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [784, -96],
      "id": "b5947d27-a1f2-4a1a-842f-81718294f224",
      "name": "Send \"Searching for Jobs\" Reply",
      "webhookId": "5821d49b-4e01-481f-85f8-3c71088fefd1",
      "credentials": {
        "slackApi": { "id": "ePXHcvTFYea6Cx5G", "name": "Slack account" }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BD0392G8G",
          "mode": "list",
          "cachedResultName": "job-scraper"
        },
        "text": "Invalid Query / No Results Found",
        "otherOptions": { "includeLinkToWorkflow": false }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [784, 96],
      "id": "da43cce8-9e25-41de-9538-c1fe684516a7",
      "name": "Invalid Query",
      "webhookId": "ad3428d4-f827-46f2-b84c-53858960e79a",
      "credentials": {
        "slackApi": { "id": "ePXHcvTFYea6Cx5G", "name": "Slack account" }
      }
    },
    {
      "parameters": {
        "url": "https://jsearch.p.rapidapi.com/search-v2",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "={{ $('Slack Trigger').item.json.blocks[0].elements[0].elements[1].text.trim() }}" },
            { "name": "num_pages", "value": "1" },
            { "name": "language", "value": "en" },
            { "name": "date_posted", "value": "3days" },
            { "name": "work_from_home", "value": "true" },
            { "name": "employment_types", "value": "FULLTIME, CONTRACTOR, PARTTIME" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-rapidapi-host", "value": "jsearch.p.rapidapi.com" },
            { "name": "x-rapidapi-key", "value": "REDACTED — real key lives only in n8n; not stored in this export" }
          ]
        },
        "sendBody": true,
        "bodyParameters": { "parameters": [{}] },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [992, -96],
      "id": "d46c1caa-39a2-48fb-ac70-ce93c64cf107",
      "name": "Get All Jobs"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [
            {
              "id": "ac3c2343-729a-4567-a725-a5f1449cd1a7",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": { "type": "object", "operation": "notEmpty", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1200, -96],
      "id": "cee8179c-7d68-4de4-b71d-dae7941c7559",
      "name": "Check Results"
    },
    {
      "parameters": { "fieldToSplitOut": "data.jobs", "options": {} },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1424, -192],
      "id": "d51b1470-a010-4a4e-802d-5374e6158e7c",
      "name": "Split Out Job Posts"
    },
    {
      "parameters": { "options": {} },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1616, -192],
      "id": "f71fc613-70c8-4bd1-8eeb-178c232266fb",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "1o-VIan_SDYgvqbOvf0p0OO8ofm6PNMn5kR14tEaS7zs"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [1840, -176],
      "id": "e87bfa9a-2578-4ef4-aef4-632246bb887f",
      "name": "Get Resume Content",
      "credentials": {
        "googleDocsOAuth2Api": { "id": "3kW6ilypSutTqQau", "name": "Google Docs account" }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI agent tasked with determining whether the following user query is related to searching for a job: \"{{ $('Slack Trigger').item.json.text }}\". Analyze the query for keywords, phrases, or context that indicate a job search, such as terms like \"job,\" \"career,\" \"employment,\" \"hiring,\" \"position,\" \"vacancy,\" \"apply,\" \"resume,\" or specific job titles. Also consider questions about job applications, interviews, or job requirements. If the query indicates a job search, return the text \"YES\". If the query is unrelated to a job search, return \"NO\". Provide only the response without additional explanation.\n\nCreate Resume Content and Proposal:\nYou are an expert resume analyst, ATS optimization specialist, and job-application assistant.  \nYour job is to take a resume, a job title, and a job description, then generate tailored outputs following strict rules.\n\n---------------------------------------\nINPUTS YOU WILL USE\n---------------------------------------\n\nJOB TITLE:\n{{ $('Loop Over Items').item.json.job_title }}\n\nRESUME CONTENT:\n{{ $json.content }}\n\nJOB DESCRIPTION:\n{{ $('Loop Over Items').item.json.job_description }}\n\nJOB POST URL:\n{{ $('Loop Over Items').item.json.job_apply_link }}\n\n---------------------------------------\nTASKS\n---------------------------------------\n\n1. Compare the resume to the job post and job title.\n2. Rewrite the resume content to be ATS-friendly** and highly optimized for the given job post.  \n   - Incorporate keywords from the job description.  \n   - Keep wording professional, concise, and quantifiable when possible.  \n   - Do NOT fabricate experience; strengthen what exists.  \n   - Split the new resume content into these sections, **in paragraph format**, but use **bullets where clarity is needed**:  \n     - `\"ProfessionalSummary\"`: 2–4 sentences summarizing expertise and value.  \n     - `\"CoreSkills\"`: Present as a short paragraph, then optionally list key skills with bullets.  \n     - `\"listOfProjects\"`: Describe projects in short paragraphs, include bullets for key achievements or outcomes.  \n     - `\"ProfessionalExperience\"`: Summarize each role in paragraph format, adding bullets for main responsibilities and measurable achievements.\n\n3. Check if the job post includes an email address.\n   - If yes, create a polished email application draft including:  \n     - `\"draftEmailAddress\"`  \n     - `\"draftEmailSubject\"`  \n     - `\"draftEmailBody\"`\n\n4. Check if the job post url contains an Upwork job link.\n   - If yes, write a compelling Upwork proposal tailored to the job:  \n     - `\"jobProposalforUpwork\"`\n\n5. Return all results strictly in this JSON format with no extra text:\n\n{\n  \"newResumeContent\": {\n    \"ProfessionalSummary\": \"\",\n    \"CoreSkills\": \"\",\n    \"listOfProjects\": \"\",\n    \"ProfessionalExperience\": \"\"\n  },\n  \"jobProposalforUpwork\": \"\",\n  \"draftEmailAddress\": \"\",\n  \"draftEmailSubject\": \"\",\n  \"draftEmailBody\": \"\"\n}\n",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [2032, -144],
      "id": "6b29a2bc-469f-4fc8-a9dc-307d4f53a1a4",
      "name": "Create Resume Content and Proposal"
    },
    {
      "parameters": { "options": { "maxTokens": 1000 } },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [1936, 80],
      "id": "22b07bc1-5d3f-43ff-aa09-5b19df86dd7b",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": { "id": "mauSBLN2YWVNDQ4c", "name": "OpenRouter account" }
      }
    },
    {
      "parameters": { "model": "anthropic/claude-opus-4.1", "options": {} },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [2096, 80],
      "id": "9e2495a9-ec60-43c0-a253-6d3474b97e67",
      "name": "OpenRouter Chat Model Fallback",
      "credentials": {
        "openRouterApi": { "id": "mauSBLN2YWVNDQ4c", "name": "OpenRouter account" }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"newResumeContent\": {\n    \"ProfessionalSummary\": \"\",\n    \"CoreSkills\": \"\",\n    \"listOfProjects\": \"\",\n    \"ProfessionalExperience\": \"\"\n  },\n  \"jobProposalforUpwork\": \"\",\n  \"draftEmailAddress\": \"\",\n  \"draftEmailSubject\": \"\",\n  \"draftEmailBody\": \"\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [2256, 80],
      "id": "d33a8bc5-59f6-4598-8b37-c4f5d6292a60",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "=Resume for  {{ $('Loop Over Items').item.json.job_title }} - {{ $now.toFormat('MM/dd/yyyy') }}",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [2448, -144],
      "id": "9896038d-d031-42f1-ba73-a4b57b0f7ce1",
      "name": "Search files and folders",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": { "id": "dFL2vUMO6VxJBRX4", "name": "Google Drive account" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [
            {
              "id": "7bff7e6c-6635-410b-8a05-44f84b61bd8d",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notExists", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [2656, -144],
      "id": "2003cf03-8e68-4291-bd43-d60572ba1d7c",
      "name": "Does Resume Exist?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2864, -144],
      "id": "f86c6c74-8176-4d33-9363-b684eab2e6a1",
      "name": "Wait",
      "webhookId": "8d6e4450-5baf-4deb-ab1c-3f9d012a62a5"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1Gu3AfSNN-Ui40yuGcGrpqS2s9y0LF0PaRCvl21Ft8cg",
          "mode": "list",
          "cachedResultName": "my-ats-resume-customized",
          "cachedResultUrl": "https://docs.google.com/document/d/1Gu3AfSNN-Ui40yuGcGrpqS2s9y0LF0PaRCvl21Ft8cg/edit?usp=drivesdk"
        },
        "name": "=Resume for  {{ $('Loop Over Items').item.json.job_title }} - {{ $now.toFormat('MM/dd/yyyy') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [3088, -144],
      "id": "c9defbc4-6978-4026-84a9-78a16c1f5978",
      "name": "Copy Resume Template",
      "credentials": {
        "googleDriveOAuth2Api": { "id": "dFL2vUMO6VxJBRX4", "name": "Google Drive account" }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [3312, -144],
      "id": "3498fac7-c866-499b-b397-725fa5038956",
      "name": "Wait 2",
      "webhookId": "bf43adb3-d7cb-4017-9386-449abf354961"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('Copy Resume Template').item.json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "{{ProfessionalSummary}}",
              "replaceText": "={{ $('Create Resume Content and Proposal').item.json.output.newResumeContent.ProfessionalSummary }}"
            },
            {
              "action": "replaceAll",
              "text": "{{CoreSkills}}",
              "replaceText": "={{ $('Create Resume Content and Proposal').item.json.output.newResumeContent.CoreSkills }}"
            },
            {
              "action": "replaceAll",
              "text": "{{listOfProjects}}",
              "replaceText": "={{ $('Create Resume Content and Proposal').item.json.output.newResumeContent.listOfProjects }}"
            },
            {
              "action": "replaceAll",
              "text": "{{ProfessionalExperience}}",
              "replaceText": "={{ $('Create Resume Content and Proposal').item.json.output.newResumeContent.ProfessionalExperience }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [3520, -144],
      "id": "8668f60a-9b79-4f01-9e59-629e062e9cb2",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": { "id": "3kW6ilypSutTqQau", "name": "Google Docs account" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [
            {
              "id": "1a0fd4d6-f648-4a67-9306-efc2f894bb44",
              "leftValue": "={{ $('Create Resume Content and Proposal').item.json.output.draftEmailAddress }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [3744, -144],
      "id": "1d64f0b1-45be-42d5-aee3-6db37769592e",
      "name": "If Email Exists"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Create Resume Content and Proposal').item.json.output.draftEmailSubject }}",
        "message": "={{ $('Create Resume Content and Proposal').item.json.output.draftEmailBody }}",
        "options": {
          "sendTo": "={{ $('Create Resume Content and Proposal').item.json.output.draftEmailAddress }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [4096, -160],
      "id": "670ae20d-e31f-4323-9f81-cac629941d52",
      "name": "Create an Email Draft",
      "webhookId": "1bc26c7d-c4e4-4afb-8134-e238938c02f4",
      "credentials": {
        "gmailOAuth2": { "id": "VDfvfdJjtJYCui9i", "name": "Gmail account" }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BD0392G8G",
          "mode": "list",
          "cachedResultName": "job-scraper"
        },
        "text": "=Job Title: {{ $('Loop Over Items').item.json.job_title }}\nJob Application Url: {{ $('Loop Over Items').item.json.job_apply_link }} \nOptimized Resume: https://docs.google.com/document/d/{{ $('Update a document').item.json.documentId }}/ {{ $('Create Resume Content and Proposal').item.json.output.jobProposalforUpwork ? `Upwork Proposal:\n${$('Create Resume Content and Proposal').item.json.output.jobProposalforUpwork}` : '' }} {{ $json.message && $json.message.id ? \n`Email Draft: https://mail.google.com/mail/u/0/#inbox/${$json.message.id}` : '' }}",
        "otherOptions": { "includeLinkToWorkflow": false }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [4304, 32],
      "id": "d37c6622-5c62-4249-9238-e3eeb91bfd1d",
      "name": "Send Details to job-scraper Channel",
      "webhookId": "ba1f71a4-f597-4bb7-9a09-c30a2183983e",
      "credentials": {
        "slackApi": { "id": "ePXHcvTFYea6Cx5G", "name": "Slack account" }
      }
    },
    {
      "parameters": { "content": "\nTotal Number of Jobs", "height": 192, "width": 208 },
      "type": "n8n-nodes-base.stickyNote",
      "position": [1392, -240],
      "typeVersion": 1,
      "id": "417b1041-78ce-4ea5-8774-6cb90fecf376",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Slack Trigger": { "main": [[{ "node": "Query Validation", "type": "main", "index": 0 }]] },
    "Query Validation": { "main": [[{ "node": "Query is Valid?", "type": "main", "index": 0 }]] },
    "Query is Valid?": {
      "main": [
        [{ "node": "Send \"Searching for Jobs\" Reply", "type": "main", "index": 0 }],
        [{ "node": "Invalid Query", "type": "main", "index": 0 }]
      ]
    },
    "Send \"Searching for Jobs\" Reply": { "main": [[{ "node": "Get All Jobs", "type": "main", "index": 0 }]] },
    "Get All Jobs": { "main": [[{ "node": "Check Results", "type": "main", "index": 0 }]] },
    "Check Results": {
      "main": [
        [{ "node": "Split Out Job Posts", "type": "main", "index": 0 }],
        [{ "node": "Invalid Query", "type": "main", "index": 0 }]
      ]
    },
    "Split Out Job Posts": { "main": [[{ "node": "Loop Over Items", "type": "main", "index": 0 }]] },
    "Loop Over Items": {
      "main": [
        [],
        [{ "node": "Get Resume Content", "type": "main", "index": 0 }]
      ]
    },
    "Get Resume Content": { "main": [[{ "node": "Create Resume Content and Proposal", "type": "main", "index": 0 }]] },
    "OpenRouter Chat Model": {
      "ai_languageModel": [[{ "node": "Create Resume Content and Proposal", "type": "ai_languageModel", "index": 0 }]]
    },
    "OpenRouter Chat Model Fallback": {
      "ai_languageModel": [[{ "node": "Create Resume Content and Proposal", "type": "ai_languageModel", "index": 1 }]]
    },
    "Structured Output Parser": {
      "ai_outputParser": [[{ "node": "Create Resume Content and Proposal", "type": "ai_outputParser", "index": 0 }]]
    },
    "Create Resume Content and Proposal": { "main": [[{ "node": "Search files and folders", "type": "main", "index": 0 }]] },
    "Search files and folders": { "main": [[{ "node": "Does Resume Exist?", "type": "main", "index": 0 }]] },
    "Does Resume Exist?": { "main": [[{ "node": "Wait", "type": "main", "index": 0 }]] },
    "Wait": { "main": [[{ "node": "Copy Resume Template", "type": "main", "index": 0 }]] },
    "Copy Resume Template": { "main": [[{ "node": "Wait 2", "type": "main", "index": 0 }]] },
    "Wait 2": { "main": [[{ "node": "Update a document", "type": "main", "index": 0 }]] },
    "Update a document": { "main": [[{ "node": "If Email Exists", "type": "main", "index": 0 }]] },
    "If Email Exists": {
      "main": [
        [{ "node": "Create an Email Draft", "type": "main", "index": 0 }],
        [{ "node": "Send Details to job-scraper Channel", "type": "main", "index": 0 }]
      ]
    },
    "Create an Email Draft": { "main": [[{ "node": "Send Details to job-scraper Channel", "type": "main", "index": 0 }]] },
    "Send Details to job-scraper Channel": { "main": [[{ "node": "Loop Over Items", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "tags": []
}
